// $icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}
@mixin left {float: left !important;}
@mixin right {float: right !important;}

// Color variables
$white: #fff;
$black: #000;
$border: #1f2d3b;
$font-color: #1b1b42;
$background: #c74560;
$button: #589cda;
$primary: #F2D31D;
$secondary: #df8524;
$line-up: #1b1b42;
$footer: #5b4498;

body {
  background: $background url(../images/pattern-bg.png);
  background-size: 225px; // 75%, real => 300px
  color: $font-color;
}

.btn {
  @include bold;
  position: relative;
  transition: all 0.1s ease-in-out;
  transform: rotate(1deg) scale(1);
  padding: 6px 30px;
  border-radius: 2px;
  color: $white;
  border-color: $border;
  background-color: $button;
  cursor: pointer;
  font-size: 16px;
  text-shadow: -2px 2px 0 darken($button, 20%);
  box-shadow: 0 3px 0 darken($button, 20%);
  &:hover {
    color: $white;
    transform: rotate(-2deg) scale(.95);
    border-color: darken($border, 20%);
    // top: -2px;
    // box-shadow: 0 5px 0 darken($button, 20%);
  }
}

#stage {
  background: $white url(../images/stage_save.png) no-repeat center 50px;
  background-size: cover;
  height: 500px;
}

#live {
  margin-top: -250px;
  background: url(../images/mountains_save.png) no-repeat center 125px;
  background-size: contain;
}

#header {
  img {
    width: 50%;
  }
  .top-nav {
    @include right;
    margin-top: 40px;
  }
  .btn.blue {
    font-size: 14px;
  }
}

.border-box {
  border-image-source: url(../images/boxes.png);
  border-image-slice: 300;
  border-image-width: 150px;
  border-image-repeat: stretch;
  margin: 0 auto;
  .background-box {
    position: relative;
    margin: 25px;
    background-color: $primary;
  }
}

// .border-box {
//   margin: 0 auto;
//   background: url(../images/boxes.png) no-repeat;
//   background-size: 100%;
//   .background-box {
//     position: relative;
//     margin: 0 30px;
//     top: 30px;
//   }
// }

#live {
  .border-box {
    width: 918px; // 854 + 60 + 4 (border fix)
  }
  .video-content {
    width: 854px;
    height: 480px;
  }
  .what-to-wacht .box {
    @include left;
    width: 50%;
    margin-top: 20px;
    text-align: center;
    p {
      margin-bottom: 0;
    }
    .btn {
      margin-bottom: 10px;
    }
  }
}

.header-section {
  text-align: center;
  height: 50px;
  background: url(../images/tittle.png) no-repeat center center;
  background-size: 20%;
  margin-bottom: 2em;
  h3 {
    margin: 0;
    padding: 0;
    line-height: 45px;
    color: $font-color;
    text-shadow: -2px 2px 0 $white;
  }
}

#live, #vod, #line-up {
  padding-bottom: 6em;
}

#vod {
  .ovnis {
    width: 90%;
    left: 5%;
    position: relative;
    .ovni {
      position: absolute;
      pointer-events: none;
    }
    .ovni:nth-child(1) {
      top: 50px;
      left: 0;
      z-index: 200;
      transform: scale(.6) rotate(-35deg);
    }
    .ovni:nth-child(2) {
      top: 25px;
      right: 0;
      z-index: 200;
      transform: scale(1) rotate(35deg);
    }
    .ovni:nth-child(3) {
      top: 500px;
      left: 15px;
      z-index: 0;
      transform: scale(.7) rotate(25deg);
    }
    .ovni:nth-child(4) {
      top: 700px;
      right: -25px;
      z-index: 200;
      transform: scale(.45) rotate(-20deg);
    }
  }
  .border-box {
    margin-bottom: 40px;
    .background-box {margin: 20px;}
  }
  .iner-hover {
    h3 {
      @include bold;
      font-size: 16px;
      margin: 10px 0;
    }
    img {
      display: block;
      height: auto;
      max-width: 100%;
      transition: all 0.2s;
    }
    figure {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    figcaption {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      display: table;
      opacity: 0;
      z-index: 100;
      color: white;
      background: rgba($background, .75);
      transition: all 300ms;
      transition-delay: 100ms;
      p {
        bottom: -100px;
        position: relative;
        display: table-cell;
        padding: 0 20px;
        font-size: 13px;
        vertical-align: middle;
        transition: all 300ms ease-out;
      }
    }
    &:hover {
      img {transform: scale(1.1);}
      figcaption {
        opacity: 1;
        p {transform: translateY(-100px);}
      }

    }
  }
}

#line-up {
  width: 100%;
  .hover-image:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 675px;
    z-index: 3;
    pointer-events: none;
    background: url(../images/hover-line-up.png) no-repeat center bottom;
  }
  .img-responsive {
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    transform: rotate(1deg) scale(1);
    &:hover {
      transform: rotate(-1deg) scale(.95);
    }
  }
}

/* Media querys */
@media (min-width: $screen-xs-min) {
   /* rules for mobile horizontal (480 > 768)  */
}
@media (min-width: $screen-sm-min) {
   /* rules for tablet (768 > 992) */
}
@media (min-width: $screen-md-min) {
   /* rules for desktop (992 > 1200) */
}
@media (min-width: $screen-lg-min) {
   /* rules for large (> 1200) */
}
@media (min-width: 1440px) {
   /* rules for large (> 1440) */
}
